@import "../../scss/vars";

.coach-card {
  @media only screen and (max-width: $media-mob) {
    flex-direction: column;
  }
  &__img {
    object-fit: cover;
    width: 45%;
    @media only screen and (max-width: $media-mob) {
      width: 100%;
      max-height: 300px;
      height: 100%;
    }
  }
  &__info {
    padding: 7% 5% 12%;
    width: 100%;
    @media only screen and (max-width: $media-mob) {
      padding-bottom: 0;
    }
  }
  &__number {
    font-weight: bold;
    margin-bottom: 3%;
  }
  &__name {
    margin-bottom: 3%;
  }
  &__position {
    margin-bottom: 8%;
  }
  &__list {
    margin-bottom: 8%;
  }
  &__list-item {
    margin-bottom: 5%;
  }
  &__btn {
    align-self: flex-start;
    margin-top: auto;
    @media only screen and (max-width: $media-mob) {
      display: none;
    }
    &--mob {
      align-self: flex-end;
      padding: 0;
      border-radius: 50%;
      min-width: 33px;
      min-height: 33px;
      position: absolute;
      bottom: 5%;
      transform: translateY(-50%);
      @media only screen and (min-width: $media-mob) {
        display: none;
      }
      &::after {
        content: "›";
        font-size: 2rem;
        position: absolute;
        line-height: 0;
        transform: translateX(-40%);
        top: 1rem;
      }
    }
  }
}